<footer class="site-footer">
  <nav class="main-nav" id="menu">
    <ul>
        <li>
            <a href="{{ site.baseurl }}/pages/intro.html" {% if page.url == "/pages/intro.html" %}class = "active"{% endif %}>Introduction</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/pages/the_terminal.html" {% if page.url == "/pages/the_terminal.html" %}class = "active"{% endif %}>Using the terminal</a>
                </li>
                <li>
                    <a href="{{ site.baseurl }}/pages/version_control.html" {% if page.url == "/pages/version_control.html" %}class = "active"{% endif %}>Version control</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/ydkjs.html" {% if page.url == "/pages/ydkjs.html" %}class = "active"{% endif %}>A good book</a>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/variables_intro.html" {% if page.url == "/pages/variables_intro.html" %}class = "active"{% endif %}>Variables introduction</a>
            <a href="{{ site.baseurl }}/pages/function_intro.html" {% if page.url == "/pages/function_intro_practicals.html" %}class = "active"{% endif %}>Function introduction</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/pages/function_intro_practicals.html" {% if page.url == "/pages/function_intro_practicals.html" %}class = "active"{% endif %}>Function exercises</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/conditional_statements.html" {% if page.url == "/pages/conditional_statements.html" %}class = "active"{% endif %}>Conditional statements</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/pages/conditional_statements_practicals.html" {% if page.url == "/pages/conditional_statements_practicals.html" %}class = "active"{% endif %}>Conditional statement exercises</a>
                </li>
            </ul>
        </li>
        <li>
            <a href="{{ site.baseurl }}/pages/loops.html" {% if page.url == "/pages/loops.html" %}class = "active"{% endif %}>Loops</a>
            <ul>
                <li>
                    <a href="{{ site.baseurl }}/pages/loop_practicals.html" {% if page.url == "/pages/loop_practicals.html" %}class = "active"{% endif %}>Loop exercises</a>
                </li>
            </ul>
        </li>

  </ul>

  </nav>
</footer>
